#mask {
    /* background: -webkit-linear-gradient(90deg, rgba(0,78,140,0.8), rgba(236,154,151,0.7) 100%);
    background: linear-gradient(120deg,rgba(224, 195, 252, 0.6) 0,rgba(142, 197, 252, 0.8)100%);
    background: linear-gradient(120deg,rgba(161, 196, 253, 0.6) 0,rgba(194, 233, 251, 0.85) 100%);
    background: linear-gradient(40deg,rgba(255, 110, 196, 0.7),rgba(120, 115, 245, 0.6));
    background: linear-gradient(to top,rgba(161, 140, 209, 0.8) 0,rgba(251, 194, 235, 0.6) 100%);
    background: linear-gradient(40deg,rgba(69, 202, 252, 0.5),rgba(48, 63, 159, 0.7)); */
    background: linear-gradient(40deg,rgba(69, 202, 252, 0.5),#303f9f);  
}

.home-icons {
    color: #82b1ff;
}

.home-text {
    margin-bottom: 0;
}

.grey-row {
    background-color: rgba(158, 158, 158, 0.1)
}

.round-button {
    border-radius: 10em;
}

@media (max-width: 768px) {
    .home-icons {
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) {
    .info-hr {
        display: none;
    }
} 