.header {
  height: 250px;
}

.header-mask {
  height: 100%;
  width: 100%;
}

@media (min-width: 1441px) {
  .header {
    height: 350px;
  }
}

.page-title {
  color: #fff;
  margin-bottom: 0;
  margin-top: 5px;
}
